@inherits LayoutComponentBase

<div class="wrapper">

  <NCATAIBlazorFrontendTest.Client.Shared.Partials.Sidenav />

  <div class="page-content">

    <div class="page-container">

      @Body

    </div> 

    <NCATAIBlazorFrontendTest.Client.Shared.Partials.Footer />

  </div>

</div>

<NCATAIBlazorFrontendTest.Client.Shared.Partials.Customizer />
